* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.bold {
  font-weight: bold;
}

.gray {
  color: #918E9B;
}
.app--footer {
    text-align: center;
    color: #000;
    background: #f2dbdb;
    padding: 6px 0px;

} 

.nav--logo {
  max-width: 100px;
}

section {
  padding: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero--photo {
  max-width: 400px;
  align-self: center;
}

.hero--header {
  margin-bottom: 16px;
}

.hero--text {
  margin-top: 0;
}

.card {
  width: 100%;
  font-size: 16px;
  margin: auto;
}

.card--image {
  width: 100%;
  height: 430px;
  border-radius: 9px;
  object-fit: cover;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star {
  height: 14px;
}

.card--list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 1rem;
  padding: 20px 36px;
}

span.gray.location {
  margin-left: auto;
}

.hero-text--container {
  text-align: center;
  margin-top: 2rem;
}